@charset "utf-8";

#wel{
	width: 500px;
	height: 300px;
	margin-left: 400px;
	margin-top: 172px;
	/*margin:0 auto;
	margin-top: 172px;*/

	/*text-align: center;*/

}

#trylog{
	margin-left: 6px;
}

#logpage{
	width: 500px;
	height: 300px;

	/*margin:0 auto;*/

	margin-top: 120px;
	
	/*background-color: pink;*/
	/*margin-left: 360px;*/
	margin-left: 20%;
	margin-right: 30%
	/*margin-top: -300px;*/


}

#regpage{
	width: 500px;
	height: 300px;

	/*margin:0 auto;*/

	margin-top: 80px;

	/*background-color: pink;*/
	/*margin-left: 360px;*/
	/*margin-top: -300px;*/
	margin-left: 20%;
	margin-right: 30%
}


#chgpage{
	width: 500px;
	height: 300px;

	/*margin:0 auto;*/

	margin-top: -20px;
	
	/*background-color: pink;*/
	/*margin-left: 360px;*/
	margin-left: 20%;
	margin-right: 30%
	/*margin-top: -300px;*/


}

.infmation{
	margin-left:100px;
}

#scoreform{
	/*position: absolute;*/ 
	width: 1200px;
	height: 2000px;
	margin-left: 20px;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
}

/*.form-control{
	width: 75px;
}*/

.scoreresult{
	font-family: 微软雅黑;
	font-size: 20px;
	font-weight:blod;

}

#tit{
	
	height: 102px;
}

#tit1{
	font-family: 微软雅黑 ;
	float: left;
	width: 50%;

	
}


#tit1 h1{
	margin-left: 20%;
	margin-top: 40px;
}



#btns{
	float: left;
	/*width: 533px;*/
	width: 50%;
	height: 88px;
}

